{% extends 'base.html.twig' %}

{% block title %}Kategorie knih{% endblock %}

{% block body %}
    <h1>Kategorie knih</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Název</th>
                <th>Popis</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
        {% for kategorieknih in kategorieknihs %}
            <tr>
                <td>{{ kategorieknih.id }}</td>
                <td>{{ kategorieknih.name }}</td>
                <td>{{ kategorieknih.description }}</td>
                <td>
                    <a href="{{ path('kategorieknih_show', {'id': kategorieknih.id}) }}">Ukázat kategorii</a>
                    <a href="{{ path('kategorieknih_edit', {'id': kategorieknih.id}) }}">Upravit kategorii</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('kategorieknih_new') }}">Vytvořit novou kategorii</a>
{% endblock %}