{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Text</th>
                <th>Created On</th>
                <th>Updated On</th>
                <th>actions</th>
                <th>Labels</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.name }}</td>
                <td>{{ article.text }}</td>
                <td>{{ article.createdOn ? article.createdOn|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.updatedOn ? article.updatedOn|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                </td>
                 <td> {% for label in article.labels %}
                {{ label.name }} {% endfor %}</td>
                 
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    


    <a href="{{ path('article_new') }}" id="CreateNew">Create new</a>
    {% endblock %}

  {% block javascript %}
$('a#CreateNew').on('click', function(e) {
e.preventDefault();
$.get(  "{{path('article_ajax')}}" , function( data ) {
 
  alert( data.message );
});
});

{% endblock %}



